:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #1f3b59;
  --form-background-color: white;
  --form-button-background: #f6a50f;
  --form-button-text: #ffffff;
  --input-border-color: #000000;
  --textarea-border-color: #000000;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #1e90ff;
  --form-background-color: none;
  --form-button-background: #1e90ff;
  --form-button-text: #ffffff;
  --input-border-color: #ffffff;
  --textarea-border-color: #ffffff;
}

body {
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  border-bottom: 15px double var(--text-color);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

nav button {
  margin: 15px;
  border: transparent;
  background-color: transparent;
  font-size: large;
  color: var(--text-color);
}

section {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainPage {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.columns {
  width: 50%;
  display: flex;
}

#leftColumnContent {
  height: 100vh;
  position: relative;
  flex-shrink: 1;
}

#rightColumnContent {
  border-left: 15px double var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.circle {
  min-height: 300px;
  min-width: 300px;
  background: linear-gradient(var(--form-button-background), var(--form-button-background), var(--form-button-background), var(--form-button-background));
  border-radius: 50%;
  text-align: center;
  padding: 40px;
  margin-left: 0px;
  margin-top: 50px;
  position: absolute;
}

h1 {
  color: var(--text-color);
  border-radius: 0%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 60px 10px;
  margin-top: 80px;
}

/* Style for the right column */

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  background-color: var(--form-background-color);
}

#blogForm {
  margin: 20px;
}

.formInfo {
  height: 100vh;
}

.formTitle {
  padding-bottom: 10px;
  text-align: center;
}

.input-group {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

#submitHere {
  color: var(--form-button-text);
  background: linear-gradient(var(--form-button-background), var(--form-button-background));
  border-radius: 50px;
  padding: 10px;
  font-size: large;
  width: 90%;
  border: none;
  cursor: grab;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

label {
  font-size: large;
  padding-right: 10px;
  padding-bottom: 15px;
  margin-left: 10px;
}

input {
  width: 400px;
  border-radius: 50px;
  margin: 5px;
  border: 2px solid var(--input-border-color);
  position: relative;
}

input::placeholder {
  font-style: italic;
  padding: 20px;
}

#username {
  padding: 5px;
  text-align: left;
}

#blogTitle {
  padding: 5px;
  text-align: left;
}

#content {
  padding: 20px;
  text-align: left;
  height: 30px;
  width: 375px;
  margin: 5px;
  border: 2px solid var(--textarea-border-color);
}

textarea {
  padding: 20px;
  resize: vertical;
  border-radius: 50px;
  margin: 5px;
  border: 2px solid var(--textarea-border-color);
}

#modeToggle {
  background-color: transparent;
  color: var(--text-color);
}

